@import "../../styles/variables.scss";

.edit-board-wrapper {
  padding: 0 15px;
  z-index: 2;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 480px;
  width: 100%;
  .edit-board-modal {
    color: $white;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    background-color: $dark-grey;

    label,
    input,
    textarea,
    select,
    option {
      background-color: $dark-grey;
      display: block !important;
      font-family: inherit !important;
    }

    input,
    textarea,
    select,
    option {
      background-color: transparent;
      border: 0px solid;
      color: $white;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid $grey;
    }

    label {
      font-size: 14px;
      margin-bottom: 5px;
      font-weight: 700;
    }

    .error-border {
      border: 1px solid $red;
    }

    textarea {
      resize: none;
    }

    input:focus,
    textarea:focus,
    select:focus {
      outline: none;
    }

    .edit-modal-title,
    .edit-board-name-div,
    .edit-board-columns-div {
      margin-bottom: 10px;
    }

    .edit-board-name-div {
      .edit-task-title {
        width: 100%;
      }
      .name-error {
        font-size: 14px;
        color: $red;
        padding-left: 10px;
        position: absolute;
        right: 50px;
        top: 83px;
      }
    }

    .edit-board-columns-div {
      .edit-columns-list {
        max-height: 116px;
        overflow-y: auto;
        position: relative;
        .edit-columns-item-div {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          .edit-column-input {
            flex-grow: 1;
            margin-right: 12px;
          }
          svg {
            cursor: pointer;
          }

          svg g:hover {
            fill: $red;
          }
          .columns-error {
            font-size: 14px;
            color: $red;
            position: absolute;
            right: 40px;
          }
        }
      }
    }
  }
}
