@import "../../styles/variables.scss";

.board-body {
  background-color: $very-dark-grey;
  width: 100%;
  padding: 15px;
  display: flex;
  overflow-x: auto;

  .new-board-column{
    min-width: 280px;
    margin-top: 35px;
    background-color: $dark-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light-grey;
    cursor: pointer;
    border-radius: 10px;
  transition: all 0.3s ease;  
  }

  .new-board-column:hover{
    color: $dark-blue;
  }

  .empty-board-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .empty-content {
      text-align: center;
      h3 {
        color: $light-grey;
        margin-bottom: 25px;
      }
    }
  }
}
