$dark-blue: #635FC7;
$light-blue: #A8A4FF;
$black: #000112;
$very-dark-grey: #20212C;
$dark-grey: #2B2C37;
$grey: #3E3F4E;
$light-grey: #828FA3;
$very-light-grey: #E4EBFA;
$shade-white: #F4F7FD;
$white: #ffffff;
$red: #EA5555;
$hover-red: #FF9898;
