$dark-mode-dark-blue: #635FC7;
$dark-mode-light-blue: #A8A4FF;
$dark-mode-body-background: #20212C;
$dark-mode-modal-background: #2B2C37;
$dark-mode-border: #3E3F4E;
$subheader-text: #828FA3;
$light-mode-header-text: #000112;
$light-mode-body-background: #E4EBFA;
$light-mode-item-background: #F4F7FD;
$light-mode-sidebar-task-background: #ffffff;
$delete-background: #EA5555;
$delete-background-hover: #FF9898;
