@import "../../styles/variables.scss";

.sidebar-board-btn{
  color: $white;
  background-color:  $dark-blue;
  height: 48px;
  width: 276px;
  border-radius: 0 24px 24px 0;
  transition: all 0.3s ease;
  display: flex; 
  align-items: center;
  padding-left: 30px;
  font-size: 14px;
  svg { 
    margin-right: 10px;
  }
}

.sidebar-board-btn:hover{
  color: $dark-blue;
  background-color:  $white;
}